:root {
    /* UnitSync Brand Color */
    --primary-color: #373C1E;
    --secondary-color: #000000;
    --tertiary-color: #D4AF37;
    --pure-white: #FFFFFF;
    --bg-color: #F8FAF9;

    /* Font Size */
    --hero-title: 48px;
    --h1: 36px;
    --h2: 24px;
    --regular: 16px;
    --small: 14px;
    --navigation: 16px;

    /* Font Family: Inter */
    --font-main: 'Inter', system-ui, -apple-system, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 48px;
    font-family: var(--font-main);
    background-color: var(--bg-color);
}

/* Anchor Tags */
a {
    text-decoration: none;
    font-size: var(--navigation);
}

/* Buttons Variation */
.btn {
    padding: 10px 20px;
    border-radius: 12px;
    display: inline-block;
}

.btn.default {
    background-color: var(--tertiary-color);
    color: var(--pure-white);
}

.btn.armygreen {
    background-color: var(--primary-color);
    color: var(--pure-white);
}

.btn.transparent-armygreen {
    background-color: var(--pure-white);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

/* Navigation Bar Section */
.logo {
    width: 100%;
    max-width: 219px;
}

.navigation-bar,
.navigation-left,
.navigation-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-left {
    gap: 70px;
}

.navigation-links {
    margin: 0px;
    padding: 0px;
    list-style: none;
    gap: 30px;
}

.navigation-links a {
    color: var(--primary-color);
}

/* Hero Section */

.hero-title {
    color: var(--primary-color);
    font-size: var(--hero-title);
    margin: 0px;
    font-weight: bold;
}

.hero-caption {
    color: var(--primary-color);
    font-size: var(--regular);
    margin: 0px;
}

.hero-section {
    display: flex;
    align-items: center;
    margin-top: 40px;

    background-image: url('./images/hero-image.png');
    background-position: right center;
    background-size: contain;
    background-repeat: no-repeat;
}

.hero-content {

    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    height: auto;
    padding: 100px 0;
    gap: 5px;
}

.hero-caption {
    text-align: left;
}

.hero-section .call-to-action {
    display: flex;
    padding-top: 25px;
    gap: 20px;
}

/* About Section */

.about-section {
    display: flex;
    background-color: var(--primary-color);
    padding: 200px 100px;
    margin-top: -40px;
}

.about-content {
    display: flex;
    align-items: center;
    gap: 120px;
}

.about-paragraph,
.about-unitsync {
    color: var(--pure-white);
}

.about-unitsync {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.about-title {
    font-size: var(--h1);
}

.about-paragraphs {
    display: flex;
    flex-direction: column;
    font-size: var(--regular);
    gap: 20px;
    text-align: justify;
}

.about-image {
    width: 100%;
    max-width: 432px;
}

/* Feature Section */

.features-section {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.features-cards {
    color: var(--pure-white);
    display: flex;
    padding: 0px 40px 0px 40px;
    justify-content: space-between;
}

.features-title {
    color: var(--secondary-color);
    font-size: var(--h1);
    text-align: center;
}

.feature-title {
    font-size: var(--h2);
}

.feature-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 6px;
    background-color: var(--primary-color);
}

.icon-title {
    display: flex;
    gap: 20px;
    width: 100%;
    max-width: 205px;
}

.icon-title img {
    width: 32px;
}

.img-description {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 304.91px;
    gap: 20px;
    text-align: justify;
}

/* Call to Action */

.call-to-action-section {
    background-color: var(--primary-color);
    border-radius: 10px;
    margin: 100px 0px 30px 0px;
}

.call-to-action-section .call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 80px 0px;
    color: var(--pure-white);
}

.call-to-action-section .call-to-action .cta-colored {
    color: var(--tertiary-color);
}

.footer-text {
    text-align: center;
    color: var(--primary-color);
    font-size: var(--regular);
}

@media (max-width: 1200px) {

    .about-section {
        padding: 100px 50px;
        margin-top: -30px;
    }

    .about-content {
        gap: 50px;
    }

    .about-unitsync {
        gap: 30px;
    }

    .about-paragraphs {
        gap: 10px;
    }

    .about-image {
        max-width: 350px;
    }

}

@media (max-width: 1000px) {

    /* Hero Section */
    .hero-section {
        background-image:
            linear-gradient(rgba(248, 250, 249, 0), rgba(248, 250, 249, 0.7)),
            url('./images/hero-image.png');
    }

    .hero-content {
        padding: 80px 0px;
    }

    .hero-caption {
        color: var(--secondary-color);
    }
}

@media (max-width: 900px) {

    body {
        margin: 35px;
    }

    :root {
        /* Font Size */
        --hero-title: 44px;
        --h1: 32px;
        --h2: 20px;
        --regular: 12px;
        --navigation: 12px;
    }

    /* Buttons */
    .btn {
        padding: 6px 16px;
        border-radius: 8px;
    }

    /* Navigation Bar */
    .logo {
        max-width: 150px;
    }

    .navigation-links {
        gap: 20px;
    }

    .navigation-left {
        gap: 30px;
    }

    /* Hero Section */
    .hero-section {
        background-image:
            linear-gradient(rgba(248, 250, 249, 0.5), rgba(248, 250, 249, 0.5)),
            url('./images/hero-image.png');
    }

    .hero-content {
        padding: 50px 0px;
    }

    /* About Section */

    .about-section {
        padding: 70px 20px;
        margin-top: -30px;
    }

    .about-content {
        gap: 15px;
    }

    .about-unitsync {
        gap: 20px;
    }

    .about-paragraphs {
        gap: 5px;
    }

    .about-image {
        max-width: 200px;
    }

}

/* Media Queries */
@media (max-width: 600px) {

    :root {
        /* Font Size */
        --hero-title: 42px;
        --h1: 32px;
        --h2: 20px;
        --regular: 12px;
        --navigation: 12px;
    }

    /* Button */
    .btn {
        padding: 4px 12px;
        border-radius: 6px;
    }

    /* Navigatin Bar */
    .logo {
        max-width: 100px;
    }

    .navigation-left,
    .navigation-links {
        gap: 10px;
    }

    /* Hero Section */

    .hero-section {
        background-image:
            linear-gradient(rgba(248, 250, 249, 0.7), rgba(248, 250, 249, 0.4)),
            url('./images/hero-image.png');
    }

    .hero-content {
        justify-content: center;
        gap: 5px;
        padding: 20px 0px;
    }

    .hero-caption {
        color: var(--secondary-color);
    }

    /* About Section */

    .about-image {
        display: none;
    }

    .about-section {
        padding: 40px;
    }

    .about-unitsync {
        gap: 20px;
    }

    /* Feature Section*/

    .features-cards {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    /* Call to Action Section */

    .cta-message {
        text-align: center;
        padding: 0px 50px;
    }

    .call-to-action-section .call-to-action {
        padding: 30px;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

@media(max-width: 450px) {

    body {
        margin: 25px;
    }

    :root {
        /* Font Size */
        --hero-title: 32px;
        --h1: 24px;
        --h2: 18px;
    }

    /* Hero Section */
    .hero-content {
        justify-content: center;
        gap: 0px;
        padding: 10px 0px;
    }

    /* About Section */

    .about-section {
        padding: 20px;
    }
}